# Віртуальне середовище (це найбільша папка, її не можна вантажити)
.venv/
venv/

# Кеш програми та твої особисті налаштування
backup_cache/
settings.json
__pycache__/

# Тимчасові файли компілятора (exe)
build/
dist/
*.spec

# Системні файли
.DS_Store
Thumbs.db
.idea/